{% block title %}Инвестиционно-издательский холдинг T8{% endblock %}
{% block content %}
{% include "navbar" %}

<div id="preload">
    <img src="{{ 'intro-bg1.jpg' | asset_url}}">
    <img src="{{ 'intro-bg2.jpg' | asset_url}}">
</div>



<main id="skrollr-body">

    <section class="section--full section--intro">
        <div class="section__background">
        </div>

        <div class="hsContainer">
            <div class="section__content"
                 data-center-center="opacity:1"
                 data-top-center="opacity: 0">
                <h1 class="text-hide">T8</h1>
                <h2 class="section--intro__title">Инвестиционно-издательский холдинг</h2>
            </div>
            <div class="ccattrib">Фото: <a href="https://www.flickr.com/photos/instantvantage/9441701907">"Amigos"</a> by
                <a href="https://www.flickr.com/photos/instantvantage/">Guian Bolisay</a> / <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode">CC BY-SA 2.0</a></div>
        </div>
    </section>

    <section class="section container section--body">
        <h1>Издательствам, авторам и&nbsp;независимым издателям T8&nbsp;предлагает следующие услуги</h1>

        <article class="row feature">
            <div class="col-sm-4 col-sm-push-8 text-center">
                <img data-bottom-bottom="transform[swing]:translate(100%); opacity:0" data-center-center="transform[swing]:translate(0%); opacity:1"  src="{{ 'i-analytics.svg' | asset_url }}" class="img-responsive img-rounded"/>
            </div>
            <div class="col-sm-8 col-sm-pull-4 feature-text">
                <h2>Всевозможные виды анализа</h2>
                <p>Наши методологии и&nbsp;программные сервисы позволяют выявлять и&nbsp;открывать новые ниши в&nbsp;издательской сфере, тем самым увеличивая читательский интерес и&nbsp;расширяя рынок сбыта.</p>
            </div>
        </article>
        <article class="row feature">
            <div class="col-sm-4 text-center">
                <img data-bottom-center="transform[swing]:translate(-100%); opacity:0" data-center-center="transform[swing]:translate(0%); opacity:1" src="{{ 'i-edit.svg' | asset_url}}" class="img-responsive img-rounded"/>
            </div>
            <div class="col-sm-8 feature-text">
                <h2>Редакционно-издательские услуги</h2>
                <p>Мы&nbsp;предлагаем максимально полный комплекс профессиональных редакционно-издательских услуг, с&nbsp;помощью которых можно оптимизировать редакционно-издательские процессы и&nbsp;создать лучшие условия для игроков рынка.</p>
            </div>
        </article>
        <article class="row feature">
            <div class="col-sm-4 col-sm-push-8 text-center">
                <img data-bottom-center="transform[swing]:translate(100%); opacity:0" data-center-center="transform[swing]:translate(0%); opacity:1"  src="{{ 'i-press.svg' | asset_url }}" class="img-responsive img-rounded"/>
            </div>
            <div class="col-sm-8 col-sm-pull-4 feature-text">
                <h2>Цифровая и&nbsp;офсетная печать</h2>
                <p>Наша производственная база включает в&nbsp;себя самое передовое оборудование в&nbsp;области цифровой печати и&nbsp;соответствующего программного обеспечения, благодаря чему мы&nbsp;имеем возможность изготовить высококачественный продукт по&nbsp;максимально выгодной цене. Печать возможна от&nbsp;1&nbsp;экземпляра.</p>            </div>
        </article>
        <article class="row feature">
            <div class="col-sm-4 text-center">
                <img data-bottom-center="transform[swing]:translate(-100%); opacity:0" data-center-center="transform[swing]:translate(0%); opacity:1"  src="{{ 'i-promotion.svg' | asset_url }}" class="img-responsive img-rounded"/>
            </div>
            <div class="col-sm-8 feature-text">
                <h2>Продвижение книжных продуктов</h2>
                <p>Накопленный опыт позволяет нам эффективно продвигать на&nbsp;рынке новые имена и&nbsp;проекты, создавая тем самым возможность для рекламы и&nbsp;пиара новых продуктов.</p>
            </div>
        </article>
        <article class="row feature">
            <div class="col-sm-4 col-sm-push-8 text-center">
                <img data-bottom-center="transform[swing]:translate(100%); opacity:0" data-center-center="transform[swing]:translate(0%); opacity:1"  src="{{'i-legal.svg' | asset_url }}" class="img-responsive img-rounded"/>
            </div>
            <div class="col-sm-8 col-sm-pull-4 feature-text">
                <h2>Правовые услуги</h2>
                <p>Созданные нами электронные базы авторских прав и&nbsp;хранилища данных на&nbsp;сегодняшний день являются крупнейшими в&nbsp;России. Это стало возможным благодаря работе высококлассных юристов и&nbsp;использования современного программного обеспечения.</p>
            </div>
        </article>
        <article class="row feature">
            <div class="col-sm-4 text-center">
                <img data-bottom-center="transform[swing]:translate(-100%); opacity:0" data-center-center="transform[swing]:translate(0%); opacity:1"  src="{{ 'i-logistics.svg' | asset_url }}" class="img-responsive img-rounded"/>
            </div>
            <div class="col-sm-8 feature-text">
                <h2>Услуги складской логистики</h2>
                <p>Высококачественная складская логистика и&nbsp;печать позволяют быстро и&nbsp;эффективно доставлять продукцию к&nbsp;потребителю, а&nbsp;также существенно оптимизировать расходы игроков малого и&nbsp;среднего издательского бизнеса. </p>
            </div>
        </article>
        <article class="row feature">
            <div class="col-sm-4 col-sm-push-8 text-center">
                <img data-bottom-center="transform[swing]:translate(100%); opacity:0" data-center-center="transform[swing]:translate(0%); opacity:1"  src="{{ 'i-distribution.svg' | asset_url }}" class="img-responsive img-rounded"/>
            </div>
            <div class="col-sm-8 col-sm-pull-4 feature-text">
                <h2>Услуги по&nbsp;распространению книжной продукции</h2>
                <p>Наша система книгораспространения позволяет доставить книгу в&nbsp;электронном виде в&nbsp;35&nbsp;000 интернет-магазинов мира за&nbsp;1&nbsp;день и&nbsp;выполнить заказ на&nbsp;печать по&nbsp;требованию в&nbsp;кратчайшие сроки. На&nbsp;договорной основе мы&nbsp;доставляем книги в&nbsp;более чем 2000 книготорговые сети и&nbsp;независимые магазины в&nbsp;России и&nbsp;странах СНГ.</p>
            </div>
        </article>

    </section>

    <section class="section--full section--outro">

        <div class="hsContainer" data-bottom-center="opacity:0" data-center-center="opacity:1">
            <div class="section__content">
                <h2 class="section--outro__heading">Мы верим в права<br/><br/>Мы верим в потенциал новых брендов<br/><br/>Мы верим в бесконечность текста</h2>

            </div>
            <div class="ccattrib">Фото: <a href="https://www.flickr.com/photos/tallkev/3803411270">"Rainbow over Tokyo at sunset"</a> by
                <a href="https://www.flickr.com/photos/tallkev/">Kevin Utting</a> / <a href="https://creativecommons.org/licenses/by/2.0/legalcode">CC BY 2.0</a></div>
        </div>

        <div class="section__background">

        </div>

    </section>



</main>






{% endblock %}
{% block scripts %}
    {{ "imagesloaded.js" | asset_url | script_tag }}
    {{ "skrollr.js" | asset_url | script_tag }}
    {{ "main.js" | asset_url | script_tag }}
{% endblock %}
{% block styles %}
{% endblock %}
